*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'DM Serif Display', serif;
}

.profile-picture{
	width: 70vh;
	border-radius: 20px;
	margin-top: 20px;
	margin-left: 483px;
	
	box-shadow: 10px 10px lightgray;


}
.greetings{

	margin-left: 380px;


}
.text{
	color: red;
}
.para{
	font-size: 20px;

}
.logos{
	width: 20vh;
	height: 15vh;
	margin-top: 20px;
	margin-left: 90px;
}
.lw{
	width: 100vh;

}
.ws{
	width: 90vh;
	margin-left: 450px;
	margin-top: 10px;

	
}
.resume{
	width: 90vh;
	margin-left: 450px;
	margin-top: 20px;

}
.cardresume{
	
	height: 200px;
	margin-bottom: 30px;
	height: 350px;
}
.card-resume{
	margin: auto;

}
.name{
	margin-left: 20px;
	margin-top: 5px;
}
.l{
	margin-left: 180px;
}
ul{
	list-style-type: none;
	margin-left: 200px;
}
.pp{
	padding: 20px;
}

.about{
	
}
body{
	background-color: rgba(187,187,187,0.2);
	overflow-x: hidden;
}
.about-me-paragraph{
	padding: 50px;
	font-size: 20px;
}
.do	{
	margin-left: 400px;
	margin-top: 10px;
}
.fb-logo{
	width: 7vh;
	margin-top: 20px;


}
.logo{
margin-left: 590px;
}
.card{
	margin-left: 3px;
	padding: 5px;
	height: 360px;
}
.cards{
	margin:auto;
}
.logos {
  padding: 50px;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.logos:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


/*phone*/
@media only screen and (max-width:400px){
body{
	overflow-x: hidden;
}
.profile-picture{
	width: 40vh;
	border-radius: 20px;
	margin-top: 20px;
	margin-left:50px;
	
	box-shadow: 10px 10px lightgray;
}
.para{
	font-size: 9px;
}
.greetings{

	margin-left: 35px;

}
.logo{
margin-left: 90px;
}
.lw{
	width: 40vh;

}
.do	{
	margin-left: 60px;
	margin-top: 10px;
}
.logos{
width: 30vh;
margin-right: 1000px;
}
.table{
	margin-left: 100px;
}
.table2{
	margin-left: 100px;
}
.name{
	margin-right: 35px;
	margin-left: 70px;
}

.ws{
	width: 40vh;
	margin-left: 80px;
	margin-top: 10px;
}
.card3{
	margin-left: 40px;
	padding: 5px;
	height: 360px;
	margin-top: 5px;
}
.resume{
	width: 40vh;
	margin-left: 80px;
	margin-top: 20px;

}


.cardpic{
	width: 300px;
	visibility: visible;
	margin-left: 23px;
}
.cardresume{
	
	height: 10px;
	visibility: hidden;
}
}



/*tablet*/
@media only screen and (min-width: 401px) and (max-width:960px){

body{
	overflow-x: hidden;
}
	.profile-picture{
	width: 50vh;
	border-radius: 20px;
	margin-top: 20px;
	margin-left:120px;
	
	box-shadow: 10px 10px lightgray;
}
.para{
	font-size: 15px;
}
.greetings{

	margin-left: 140px;

}
.logo{
margin-left: 200px;
}
.lw{
	width: 50vh;

}
.do	{
	margin-left: 100px;
	margin-top: 10px;
}
.logos{

}
.ws{
	width: 50vh;
	margin-left: 140px;
	margin-top: 10px;
}
.card3{
	margin-left: 250px;
	padding: 5px;
	height: 360px;
	margin-top: 5px;
}
.resume{
	width: 50vh;
	margin-left: 140px;
	margin-top: 20px;

}

.card-resume{
	margin:auto;

}
}